.imageGallery {

  &__container {
    margin-top:50px;
    margin-bottom:100px;

  }

  &__title {
    font-family: "Montserrat";
    margin: 50px;
    color: red;

    &__column {
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__column {
      padding: 5px;
    }
  }
}
